HubSensores/boards/frdmk64f_frdmcr20a/wireless_examples/thread/router_eligible_device/freertos/kds/debug/
ControlAspersores/boards/frdmk64f_frdmcr20a/wireless_examples/thread/border_router/freertos/kds/debug/

